* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
  overflow-x: hidden;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #4943da;
}

.header-container {
  width: 100vw;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.header-logo {
  width: 136px;
  aspect-ratio: auto 136 / 32;
  height: 32px;
}
.app-header {
  color: "#0a0a0a";
  font-size: 2rem;
}

.job-list-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  max-width: 80vw;
  margin-left: 10vw;
  padding: 1rem 1em;
}

.faded-text {
  max-height: 100px;
  font-size: 1rem;
  color: #8b8b8b;
  -webkit-mask-image: linear-gradient(180deg, #000 30%, transparent);
  mask-image: linear-gradient(180deg, #000 30%, transparent);
}

.custom-chip {
  font-size: 10px;
  background-color: #4943da;
  color: #FFFFFF;
  border-radius: 12px;
  padding: 4px 12px;
}

.custom-text {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.header-v1 {
  font-size: 2rem;
}

.header-v2 {
  font-weight: 400;
  letter-spacing: 1px;
}
.header-v3 { 
  font-weight: 600;
}

.header-v6 { 
  font-weight: 600;
  margin: 0.4rem 0;
}


.button {
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 8px 18px;
  margin: 4px 0;
}

.button.flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  background: #55efc4;
}

.secondary-btn {
  background: #1971ec;
  color: #FFFFFF;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.grid-item {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex: 1;
  padding: 1rem;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid-item:hover {
  transform: scale(1.02);
}


/* Filter  bar */

.filter-view {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin: 1rem 0;
}


.filter-view .filter {
  min-width: 220px;
}

.text-xs {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}	

.text-sm	{
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}	

.text-xl	{
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.w-full {
  width: 100%;
}

.mt-12 {
  margin-top: 12px;
}
.company-logo-url {
  display: flex;
  justify-content: center;
  align-items: center;
}